<!--
    This is the landing page for the snake website
    Created by chelsliu on 11/10/18
    -->
@{
    ViewBag.Title = "Sneks";
}

<body class="bg-home">
    <div class="bg-text">
        <h1>
            <b>snake<br>
            <i>/snāk/</i></b>
        </h1>
        <h2 class="subtitle">
            Discover more about these fascinating creatures.
        </h2>
    </div>
</body>
