@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="jumbotron">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <label for="inputEmail">Email address</label>
        @Html.TextBox("Email address")

        <br />

        <label for="inputPassword">Password</label>
        @Html.Password("Password")

        <br />

        <button type="submit">Login</button>
    }

    <br />

    New User? <a href="~/Users/Create">Create New User Account</a>
</div>