<!--
This is the snakes view. It has a dropdown that consists of three snakes.

-->
@{
    ViewBag.Title = "Snakes";
}

<h2>Snakes</h2>

<!--Dropdown that consists of three snakes-->
<p>Mouse over the button to open the dropdown menu of snakes.</p>

<div class="dropdown">
    <button class="dropbtn">Snakes</button>
    <div class="dropdown-content">
        <a href="#">Snake 1</a>
        <a href="#">Snake 2</a>
        <a href="#">Snake 3</a>
    </div>

