@using WebsiteAboutSneks.Models;
@{
    ViewBag.Title = "Snake List";

}

<h2>All Our Snakes</h2>

<ul>
    @foreach (Snake snek in ViewBag.SnakeList)
    {
        <li><a href="@Url.Action("ShowSnake", "Home", new { id = snek.snakeID })">@snek.snakeName</a></li>
    }
</ul>

