
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-image:url(https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/cc_iStock_18996432_LARGE_16x9.jpg?itok=Xd6hKkof); background-size: cover; max-width:100%; min-height:600px">
    <h1 class="text-center" style="color: black; background-color: white; opacity: .50;"  >
        <b>About Our Snake Website</b></h1>
   


</div>

<h2>Our Purpose</h2>
<p style=" border-radius: 25px;
    border: 2px solid gray;
    padding: 20px; 
    width: 1150px;
    height: 125px;
    font-size: 20px;">We hope that our website will be an awesome source for everyone to learn more about snakes. We take pride in teaching people about all of the
    different species of snakes. Our website provides fun facts about snakes including: where they live, what they eat, and more. 
</p>

<br />

<div class="container">

    <div class="col-md-4">

        <img src="https://www.naturalworldpets.co.uk/wp-content/uploads/2016/05/Corn_snake-968x656.jpg"  style="width:300px; height:300px; display: block;
    margin-left: auto;
    margin-right: auto;
   " />

    </div>

    <div class="col-md-4">

        <img src="https://www.sciencedaily.com/images/2016/08/160816182620_1_540x360.jpg" style="width:300px; height:300px; height:300px; display: block;
    margin-left: auto;
    margin-right: auto;
    " />

    </div>

    <div class="col-md-4">

        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/701/save-penis-from-rattlesnake-1495715809.jpg?resize=480:*" style="width:300px; height:300px; height:300px; display: block;
    margin-left: auto;
    margin-right: auto;
    " />

    </div>

</div>



